---
context: "Featured article on some day on English Wikipedia."
articles:
  - title: Surrealism
    extract: "Surrealism is a cultural movement that began in the early 1920s, and is best known for its visual artworks and writings. The aim was to resolve the previously contradictory conditions of dream and reality.Artists painted unnerving, illogical scenes with photographic precision, created strange creatures from everyday objects and developed painting techniques that allowed the unconscious to express itself and/or an idea/concept."
  - title: Salvador Dali
    extract: "Salvador Domingo Felipe Jacinto Dalí i Domènech, 1st Marqués de Dalí de Pubol (May 11, 1904 – January 23, 1989), known as Salvador Dalí (Catalan pronunciation: [səɫβəˈðo ðəˈɫi]), was a prominent Spanish Catalan surrealist painter born in Figueres, Spain. Dalí was a skilled draftsman, best known for the striking and bizarre images in his surrealist work. His painterly skills are often attributed to the influence of Renaissance masters.[1][2] His best-known work, The Persistence of Memory, was completed in August 1931. Dalí's expansive artistic repertoire included film, sculpture, and photography, in collaboration with a range of artists in a variety of media."
  - title: Andy Warhol
    extract: "Andy Warhol (/ˈwɔrhɒl/;[1] August 6, 1928 – February 22, 1987) was an American artist who was a leading figure in the visual art movement known as pop art. His works explore the relationship between artistic expression, celebrity culture and advertisement that flourished by the 1960s. After a successful career as a commercial illustrator, Warhol became a renowned and sometimes controversial artist. The Andy Warhol Museum in his native city, Pittsburgh, Pennsylvania, holds an extensive permanent collection of art and archives. It is the largest museum in the United States dedicated to a single artist."
  - title: Chelsea Girls
    extract: "Chelsea Girls is a 1966 experimental underground film directed by Andy Warhol and Paul Morrissey. The film was Warhol's first major commercial success after a long line of avant-garde art films (both feature length and short).It was shot at the Hotel Chelsea and other locations in New York City, and follows the lives of several of the young women who live there, and stars many of Warhol's superstars. It is presented in a split screen, accompanied by alternating soundtracks attached to each scene and an alternation between black-and-white and color photography.The original cut runs at just over three hours long."
  - title: Cult Status
    extract: "A cult following is a group of fans who are highly dedicated to a specific area of culture. A film, book, musical artist, television series, or video game, among other things, will be said to have a cult following when it has a small but very passionate fan base. A common component of cult followings is the emotional attachment fans have to the object of the cult following, often identifying themselves and other fans as members of a community. Cult followings are also commonly associated with niche markets. Cult media are often associated with underground culture, and are considered too eccentric, bizarre, controversial, or anti-establishment to be appreciated by the general public, or be a commercial success"
  - title: Woodstock
    extract: "Woodstock is a 1970 American documentary of the watershed counterculture Woodstock Festival that took place in August 1969 at Bethel in New York. Entertainment Weekly called this film the benchmark of concert movies and one of the most entertaining documentaries ever made.[2] The film was directed by Michael Wadleigh and was edited by (amongst others) Martin Scorsese and Thelma Schoonmaker; Schoonmaker was nominated for an Academy Award for Film Editing"
  - title: Ravishankar
    extract: "Ravi Shankar, (IPA: [ˈrɔbi ˈʃɔŋkɔr]; 7 April 1920 – 11 December 2012), his name often preceded by the title Pandit, was an Indian musician who was one of the best-known exponents of the sitar in the second half of the 20th century as well as a composer of Hindustani classical music. Shankar was born in Varanasi and spent his youth touring Europe and India with the dance group of his brother Uday Shankar. He gave up dancing in 1938 to study sitar playing under court musician Allauddin Khan. After finishing his studies in 1944, Shankar worked as a composer, creating the music for the Apu Trilogy by Satyajit Ray, and was music director of All India Radio, New Delhi, from 1949 to 1956." 
  - title: Mumbai
    extract: "Mumbai /mʊmˈbaɪ/ (also known as Bombay) is the capital city of the Indian state of Maharashtra. It is the most populous city in India, second most populous metropolitan area in India, and the fifth most populous city in the world, with an estimated city population of 18.4 million and metropolitan area population of 20.7 million as of 2011.[6] Along with the urban areas, including the cities of Navi Mumbai, Thane, Bhiwandi, Kalyan, it is one of the most populous urban regions in the world.[7] Mumbai lies on the west coast of India and has a deep natural harbour. In 2009, Mumbai was named an alpha world city.[8] It is also the wealthiest city in India,[9] and has the highest GDP of any city in South, West or Central Asia"  
  - title: Buddhists
    extract: "Buddhism is a nontheistic religion[1][2] that encompasses a variety of traditions, beliefs and practices largely based on teachings attributed to Siddhartha Gautama, who is commonly known as the Buddha, meaning the awakened one. According to Buddhist tradition, the Buddha lived and taught in the eastern part of the Indian subcontinent sometime between the 6th and 4th centuries BCE.[1] He is recognized by Buddhists as an awakened or enlightened teacher who shared his insights to help sentient beings end their suffering through the elimination of ignorance and craving by way of understanding and the seeing of Dependent Origination and the Four Noble Truths, with the ultimate goal of attainment of the sublime state of Nirvana."
  - title: Nirvana
    extract: "Nirvāṇa (Sanskrit: निर्वाण; Pali: निब्बान nibbāna ; Prakrit: णिव्वाण) literally means blown out, as in a candle.[1] It is most commonly associated with Buddhism.[web 1][2] In Indian religions, the attainment of nirvana is moksha,[note 1] liberation from the repeating cycle of birth, life and death (reincarnation).[3][4][note 2]In the Buddhist context nirvana refers to the imperturbable stillness of mind after the fires of desire, aversion, and delusion have been finally extinguished.[1] In Hindu philosophy, it is the union with the divine ground of existence Brahman (Supreme Being) and the experience of blissful egolessness." 
  - title: The Bhagavad Geeta
    extract: "The Bhagavad Gita (Sanskrit: श्रीमद्भगवद्गीता, Śrīmadbhagavadgītā, Sanskrit pronunciation: [ˈbʱəɡəʋəd̪ ɡiːˈt̪aː] ( listen)), literally meaning The Song of the Bhagavan, often referred to as simply the Gita, is a 700-verse Hindu scripture that is part of the Hindu epic Mahabharata. The Gita is set in a narrative framework of a dialogue between Pandava prince Arjuna and his guide and charioteer the god-king Krishna. Facing the duty to kill his relatives, Arjuna is counselled by Krishna to fulfill his Kshatriya (warrior) duty as a warrior and kill.[1] Inserted[1] in this appeal to kshatriyadharma (heroism)[2] is a dialogue [...] between diverging attitudes concerning and methods toward the attainment of liberation (moksha)."
  - title: Aldous Huxley
    extract: "Aldous Leonard Huxley /ˈhʌksli/ (26 July 1894 – 22 November 1963) was an English writer and a prominent member of the Huxley family. Best known for his novels including Brave New World, set in a dystopian London, The Doors of Perception, which recalls experiences when taking a psychedelic drug, and a wide-ranging output of essays, Huxley also edited the magazine Oxford Poetry, and published short stories, poetry, travel writing, film stories and scripts. He spent the later part of his life in the United States, living in Los Angeles from 1937 until his death"
---


